.control-button {
  position: fixed;
  top: 10vh;
  background: #1890ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 0px 30px 5px #dfdfdf;
}

.control-button::after {
  content: "";
  width: 5px;
}

.form-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.drawer-container {
  height: 100%;
  padding: 16px;
  overflow-y: scroll;
}

.drawer-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}
/*定义滚动条轨道
内阴影+圆角*/
.drawer-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(234, 234, 234, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
/*定义滑块
内阴影+圆角*/
.drawer-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(236, 236, 236, 0.3);
  background-color: #dfdfdf;
}
